body {
    font-family: Arial, sans-serif;
    line-height: 5;
    margin: 0;
    padding: 2%;
    background: #ecf0f1;
    text-align:  center;
    
  }
  div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
  }
  
  e{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  button {
    position: relative;
    background-color: #e46bca;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  img{

    text-align:center;
    display: inline-block;
            margin: 10px; /* Espace entre les photos */
            max-width: 100px; /* Taille maximale des photos */
            height: auto;
  }

  p{
    font-family:cursive;
    font-size: 18px;
  text-align: left;
  line-height: 2;
  margin-bottom: 20px;}