body {
  font-family: Arial, sans-serif;
  line-height: 10;
  margin: 0;
  padding: 0;
  background: #ecf0f1;

  background: #fdfdfd;

  
}



h1{
  text-align: center;
}


li{
padding: 0; margin: 0;
display: inline;
	list-style: none;

  display:inline-block;
	margin: 0 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8b878a;
  text-align: center;

  
}
li {
  display: inline;
}

h1{
  text-align: center;
}
