body {
  font-family: Arial, sans-serif;
  line-height: 10;
  margin: 0;
  padding: 0 2%;
  background: #ecf0f1;

 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


h1{
  text-align: center;
}
